.upload-files-container {
  display: flex;
  justify-content: center;
  margin: 20px 0;
  font-weight: bold;
}

.custom-file-upload {
  background-color: #007BFF;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
}

.custom-file-upload:hover {
  background-color: #0056b3;
}

.file-input {
  display: none;
}

.file-input + label {
  display: inline-block;
}
  
  